argcomplete==3.5.3
argh==0.31.3
arrow==1.3.0
attrs==21.4.0
binaryornot==0.4.4
chardet==5.2.0
click==8.1.8
colorlog==6.9.0
cookiecutter==2.6.0
deprecation==2.1.0
future==1.0.0
gffutils==0.13
h5py==3.11.0
importlib_metadata==8.5.0
kipoi==0.8.6
kipoi-conda==0.3.1
kipoi-utils==0.7.7
kipoiseq==0.7.1
llvmlite==0.41.1
logomaker==0.8
markdown-it-py==3.0.0
mdurl==0.1.2
natsort==8.4.0
ncls==0.0.68
numba==0.58.1
openpyxl==3.1.5
pyBigWig==0.3.22
pyfaidx==0.8.1.3
pyranges==0.1.2
pysam==0.22.1
python-slugify==8.0.4
related==0.7.3
rich==13.9.4
simplejson==3.19.3
sorted-nearest==0.0.39
tabulate==0.9.0
tangermeme==0.4.3
text-unidecode==1.3
tinydb==4.8.2
tqdm==4.67.1
types-python-dateutil==2.9.0.20241206
